@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.section {
  padding: 2rem 0;
}
/* Start About Description Section  */
.about-header-section {
  background-color: #f8f6f3;
  height: 50vh;
}
.h1-header {
  line-height: 8rem;
  font-size: 3.25rem;
  font-weight: 700;
}
.desc-img {
  position: relative;
  top: -3.3rem;
  left: 25rem;
  height: 5rem;
}
.about-description h2 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
}
.about-img {
  width: 100%;
  height: 100%;
}
/* End About Description Section  */

/* Start Statistics Section  */
.Statistics {
  background-color: #000;
  height: 15rem;
  color: #fff;
}
.Statistics-content span {
  font-size: 2rem;
  font-weight: bold;
}

.Statistics-content p {
  font-size: 1.25rem;
  font-weight: 400;
}
/* End Statistics Section  */

/* Start Organic Quality Section  */
.organic-quality {
  padding-top: 10rem;
}
.organic-quality-content {
  /* position: relative; */
}
.organic-quality-content .left-box {
  background-color: #f8f6f3;
}
.slider {
  width: 25rem;
  height: 28rem;
  position: relative;
  border-radius: 1rem;
}
.organic-img {
  height: 6rem;
}
.stars .icon {
  color: #ffbb1e;
}
.client {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.right-box {
  padding: 1.5rem 1.5rem 1.5rem 5rem !important;
}
.right-box-header {
  font-size: 2.125rem;
  font-weight: 700;
}
.check_icon {
  color: var(--green-color);
  font-weight: bold;
  display: inline;
}
.icon_box {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btn-shopping {
  border: none;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #6a9739;
  border-radius: 5px;
  text-align: center;
  transition: var(--transition);
}
.btn-shopping:hover {
  background-color: #8bc34a;
}
.cart-shopping-link {
  text-decoration: none;
  color: #fff;
}

/* End Organic Quality Section  */

/* Media Mobile */
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .desc-img {
    left: 7rem;
  }
  .h1-header {
    font-weight: 500;
  }
}

@media screen and (max-width: 165px) {
  html {
    font-size: 6px;
  }
}
