
:root{
    --textColor : #333333;
    --lightBgGreen:#f6ffec;
    --lightGreen:#8bc34a;
    --lightGray:#f6f6f6;
    --bgGreen :#6a9739 ;
    --bgDanger :#ff0000 ;
    --bgDarkDanger :#9f0000 ;

    --bgGreenDark :#5a8b25 ;
    --white : #fff;
    --bgProducts: #f8f6f3;
    --grayddd:#ddd;
}

.headerMenu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.headerMenu li a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--textColor);
}

.headerMenu li a:hover{
    color: var(--lightGreen);
}


/* start the side Menue */
.sideMenue{
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 21px;
    transition: all .5s;
    background-color: var(--lightGreen);
}


/*End the side Menue */

a{
    display: inline-block;
}

.userDetails {
    background-color: var(--bgProducts);
    height: 420px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #aaa;
}

 .userImage   {
    width: 150px;
    height: 150px;
    background-color: var(--bgProducts);
    position: relative;
    top: -75px;
    border-radius: 100px;
    box-shadow: 0px 0px 8px 0px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }


 .userDetails button  {
    padding: 5px 30px;
    border-radius: 100px;
    background: none;
    color: var(--bgGreen);
    border: none;
    border: 1px solid  var(--bgGreen);
    transition: all .5s;
    display: inline-block;
    }
    .userDetails button:hover{
        background-color: var(--bgGreen); 
        color: var(--white);
    }


    .newProductForm label{
        width: 35%;
    }
    .newProductForm select, .newProductForm input,.newProductForm textarea {
        width: 65%;
        padding: 5px;
    }

    .newProductForm button {
        border: none;
        background-color: var(--bgGreen);
        color: var(--white);
        padding: 2px 7px;
        border-radius: 5px;
        width: 50%;
        margin: auto;
        }

        .defaultImage{
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #777;
        }
@media only screen and (max-width: 768px){
    .headerMenu li {
        border-bottom: 1px solid #ddd;
    }

    .headerMenu li:hover{
        background-color: var(--lightBgGreen)
    }
    .userDetails{
        width: 95%;
        }
    .newProductForm label{
        width:100%;
    }
    .newProductForm select, .newProductForm input,.newProductForm textarea {
        width: 100%;
    }


}

/* @media only screen and (max-width: 424px){
    .userDetails{
    width: 95%;
    }
} */



.shopnowBtn{
    padding: 15px 30px;
    background-color: var(--bgGreen);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s;
}

.shopnowBtn:hover{
background-color: var(--bgGreenDark);
}

.btnstyInLarge{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px 2px;
}
.btnstyInLarge a{
    padding : 2px 10px;
}
.btnstyInSmall{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--bgGreen);
    margin: 0px;
    border-radius: 0px;
}

.btnstyInSmall a{
    display: block;
    width: 100%;
    border: none;
    padding: 10px 0px;
}

.btnstyInLarge:hover , .btnstyInSmall:hover {
    background-color: var(--bgGreen);
    color: var(--white);
  
}
.btnstyInLarge:hover a , .btnstyInSmall:hover a {
    color: var(--white);
}

.profilePageUlLarge {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    border: 1px solid var(--grayddd);
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px var(--grayddd);
    text-align: center;
}

.profilePageUlSmall{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    border: 1px solid var(--grayddd);
    border-radius: 5px;
    text-align: center; 
}
.profilePageUlSmall li {
    padding: 5px 15px;
    cursor: pointer;
}

.profilePageUlSmall li:first-child {
    border-bottom: 1px solid var(--grayddd);
}

.profilePageUlLarge li {
    padding: 5px 10px;
    cursor: pointer;
}
.profilePageUlLarge li:hover{
    background-color: var(--grayddd);
}
.profilePageUlSmall li:hover{
    background-color: var(--grayddd);
}

.profilePageUlLarge li:first-child {
    border-bottom: 1px solid var(--grayddd);
}
.profilePageUlSmall::before{
    content: "";
    border: solid var(--white);
    border-width: 5px 0px 0px 5px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    left: calc(50% - 10px);
}
.profilePageUlLarge::before{
    content: "";
    border: solid var(--grayddd);
    border-width: 3px 0px 0px 3px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
}




.profilePageLarge{
    position: absolute;
    width: 100px;
    top: 40px;
    left: calc(-50% - 15px);
    z-index: 300;
    background-color: var(--white);
}
.profilePageSmall{
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: 300;
    background-color: var(--white); 
}





