.addToCartSale{

    padding: 3px 70px;
    border-radius: 5px;
    background-color: var(--bgGreen);
    color: var(--white);
    border: none;
    transition: all .5s;
    display: inline-block;
}

.addToCartOff{

    padding: 3px 70px;
    border-radius: 5px;
    background-color: var(--bgDanger);
    color: var(--white);
    border: none;
    transition: all .5s;
    display: inline-block;
}



.addToCartSale:hover{
    background-color: var(--bgGreenDark);
}



/* start wiper */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
  }
  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
  
/* end swiper */


.btnRelatedP{
background: none;
border: none;
margin: 0px 10px 0 0;
font-weight: bold;
}


.description {
  border-top: 1px solid var(--grayddd);
}

.description button{
  background: none;
  border: none;
  padding: 5px 15px;
  border-right: 1px solid var(--grayddd);
}

.description button:focus{
  border-top: 3px solid var(--bgGreen);
}









@media only screen and (max-width: 767px){
  .relatedN{
    font-size: 8px;
}
.relatedCat{
  font-size: 6px;

}

}


