.footer {
  background-color: #111111;
  color: #fff;
}

.footer-paragraph {
  width: 100%;
  color: #aeaeae;
}
.copy-right,
.icon {
  color: #aeaeae;
}
.icon {
  cursor: pointer;
  font-size: 1.5rem;
}
.icon:hover {
  color: #fff;
}
.logo-img {
  height: 4rem;
}
.app-store-img {
  width: 8rem;
  height: 3rem;
}
@media screen and (max-width: 991px) {
  html {
    font-size: 13px;
  }
}
