/* Start Global Components  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

Link {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
  color: var(--text-color);
  transition: var(--transition);
  padding: 0;
}
.link:hover {
  color: #fff;
}

/* End Global Components  */
